
<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding  >
     
    <div>
        <md-input-container>
            <label>fist name</label>
            <input ng-model="vm.doc.fname">
        </md-input-container>
        <md-input-container>
            <label>last name</label>
            <input ng-model="vm.doc.lname" type="text">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>specialized</label>
            <md-select ng-model="vm.doc.specil">
                <md-option ng-repeat="state in states" value="{{vm.state.abbrev}}">
                    {{state.abbrev}}
                </md-option>
            </md-select>
        </md-input-container>
         <md-input-container>
            <label>Reg No</label>
            <input ng-model="vm.doc.regno" type="text">
        </md-input-container>
         <md-input-container>
            <label>Mobile</label>
            <input ng-model="vm.doc.mobile" type="text">
        </md-input-container>
     <md-button>CLEAR</md-button>
        <md-button class="md-primary md-raised">SAVE</md-button>
    </div>
 
      
</md-content>
