<md-dialog aria-label="addDocDialog" ng-cloak ng-controller="docListController as vm">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>ADD DOC</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="SEARCH DOC">
                                <md-content class="md-padding">
                                    <md-card>
                                        <md-card-content>
                                            <div ng-include src="'app/views/partials/docSearch.html'" />
                                        </md-card-content>
                                    </md-card>
                                    <div ng-if="!vm.docLists.data" layout-align="center center" layout="row">
                                        <md-button class="md-primary md-raised">ADD NEW DOC</md-button>
                                    </div>
                                    <div ng-if="vm.docLists.data">
                                        <md-card>
                                            <div ng-include src="'app/views/partials/docListTable.html'" />
                                        </md-card>
                                    </div>
                                </md-content>
                            </md-tab>
                             <md-tab label="ADD NEW DOC">
                               <md-content class="md-padding">
                               <div ng-include src="'app/views/partials/addNewDoc.html'" />
                              </md-content>
                             </md-tab>

                        </md-tabs>
                    </md-content>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                CLOSE
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
