<md-dialog aria-label="addDocDialog" ng-cloak ng-controller="docListController as vm">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>ADD DOC</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="SEARCH DOC">
                                <md-content class="md-padding">
                                    <md-card>
                                        <div ng-include src="'app/views/partials/docSearch.html'" />
                                    </md-card>
                                    <div ng-if="!vm.docLists.data" layout-align="center center" layout="row">
                                        <md-card flex>
                                            <div style="padding: 25px; text-align: center;">
                                                <div >If you can not find the doctor please add new doc</div>
                                                <br/>
                                                <md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">add new doc</md-button>
                                            </div>
                                        </md-card>
                                    </div>
                                    <div ng-if="vm.docLists.data">
                                        <md-card>
                                            <div ng-include src="'app/views/partials/docListTable.html'" />
                                        </md-card>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="ADD NEW DOC">
                                <md-content class="md-padding">
                                    <div ng-include src="'app/views/partials/addNewDoc.html'" />
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
    </form>
</md-dialog>
