<div ng-cloak>
    <md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column" ng-controller="docListController as vm">
        <div flex="100" flex-xs="100" layout="column">
            <md-card>
                <!--  <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
                <md-card-title>
                    <md-card-title-text>
                        <!--       <span class="md-headline">Action buttons</span> -->
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <!-- <md-button class="md-raised md-primary">ADD DOC</md-button> -->
                    <md-button class="md-primary md-raised" ng-click="vm.searchAandAddDoc($event)" flex="100" flex-gt-md="auto">ADD DOC</md-button>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
            <md-card>
                <!--    <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
                <md-card-title>
                    <md-card-title-text>
                        <span>{{vm.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-content laout="column" flex>
                        <md-toolbar class="md-table-toolbar md-default" ng-show="!selected.length">
                            <div class="md-toolbar-tools">
                                <!-- <span>Current Doctors list </span> -->
                                <span flex></span>
                                <md-button ng-click="hideCheckboxes = !hideCheckboxes">{{hideCheckboxes ? 'Enable Selection' : 'Disable Selection'}}</md-button>
                                <md-button ng-click="hideHead = !hideHead">{{hideHead ? 'Show Head' : 'Decapitate'}}</md-button>
                                <md-button ng-click="blah = !blah">{{blah ? 'turn on' : 'turn off'}}</md-button>
                                <md-button ng-click="loadStuff()">Load</md-button>
                                <md-button class="md-icon-button">
                                    <md-icon>filter_list</md-icon>
                                </md-button>
                                <md-button class="md-icon-button">
                                    <md-icon>more_vert</md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
                            <div class="md-toolbar-tools">
                                <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                                <span flex></span>
                                <md-button class="md-icon-button">
                                    <md-icon>delete</md-icon>
                                </md-button>
                                <md-button class="md-icon-button">
                                    <md-icon>more_vert</md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-table-container>
                            <table data-md-table data-md-row-select="!vm.hideCheckboxes" data-ng-model="vm.selected" md-progress="vm.promise">
                                <!-- <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column ng-repeat="column in columns" md-numeric="column.numeric" md-order-by="{{column.orderBy}}">
          <span>{{column.name}}</span>
          <span ng-if="column.unit">({{column.unit}})</span>
        </th>
      </tr>
    </thead> -->
                                <thead ng-if="!hideHead" md-head data-md-order="vm.query.order" md-on-reorder="vm.onReorder">
                                    <tr md-row>
                                        <th md-column md:order:by="name"><span>FIST NAME</span></th>
                                        <th md-column md:order:by="type"><span>LAST NAME</span></th>
                                        <th md-column data-md-numeric data-md-order-by="calories.value" data-md-desc><span>SPICIALIZED</span></th>
                                        <th md-column data-md-numeric data-md-order-by="fat.value"><span>REG NO</span></th>
                                        <th md-column data-md-numeric data-md-order-by="protein.value"><span>[REMOVE]</span></th>
                                    </tr>
                                </thead>
                              
                                <tbody md-body>
                                    <tr md-row md:select="doc" data-md-on-select="log" md-on-deselect="doc" x-md-auto-select="!blah" data-ng-repeat="doc in vm.docLists.data | filter: filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                                        <td md-cell>{{doc.fistName}}</td>
                                        <td md-cell>{{doc.lastName}}</td>
                                        <td md-cell>{{doc.spec}}</td>
                                        <!-- <td md-cell>{{dessert.carbs.value}}</td> -->
                                        <td md-cell>{{doc.regNo}}</td>
                                        <td md-cell hide-sm>
                                            <md-button class="md-icon-button " aria-label="Favorite">
                                                <i class="material-icons">delete</i>
                                            </md-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <data-md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{desserts.count}}" md-on-paginate="onPaginate" md-page-select></data-md-table-pagination>
                    </md-content>
                </md-card-content>
                <md-card-actions layout="column" layout-align="start">
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>
