<div ng-cloak>
    <md-content class="md-padding" layout="row" layout-align="center start" layout-xs="column" ng-controller="SetDocCalendarController as ctrl">
        <div flex="100" flex-xs="100" layout="column">
            <md-card>
                <!--  <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
                <md-card-title>
                    <md-card-title-text>
                        <!--       <span class="md-headline">Action buttons</span> -->
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.name" md-min-length="0" placeholder="Pick a Doctor" md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                            <span class="item-title">
                                             <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>

                                 <span> {{item.name}} </span>
                            </span>
                            <span class="item-metadata">
                                <span class="item-metastat">
                                  <strong>{{item.watchers}}</strong> watchers
                                </span>
                            </span>
                        </md-item-template>
                    </md-autocomplete>
                </md-card-content>
            </md-card>
            <md-card layout="row">
                <md-card flex>
                    <!--  <md-card-title>
                            <md-card-title-text flex>
                                <span class="md-headline">Set Avalibility </span>
                            </md-card-title-text>
                        </md-card-title> -->
                    <md-card-content>
                        <div layout="row" layout-align="space-between end">
                            <span>
                                         <md-datepicker ng-model="date.from" md-placeholder="FROM"></md-datepicker>
                                         <md-datepicker ng-model="date.to" md-placeholder="TO"></md-datepicker>
                                </span>
                        </div>
                        <span flex></span>
                        <div layout="column" layout-padding>
                            <div layout-align="space-between center" layout="row">
                                <div>
                                    <md-button class="md-primary md-raised md-hue-1">week days</md-button>
                                    <span> <md-checkbox ng-model="data.mon" aria-label="MON">MON</md-checkbox></span>
                                    <span> <md-checkbox ng-model="data.thu" aria-label="SUN">THU</md-checkbox></span>
                                    <span> <md-checkbox ng-model="data.wed" aria-label="SUN">WED</md-checkbox></span>
                                    <span> <md-checkbox ng-model="data.thr" aria-label="SUN">THR</md-checkbox></span>
                                    <span> <md-checkbox ng-model="data.fri" aria-label="SUN">FRI</md-checkbox></span>
                                </div>
                                <div>
                                    <md-input-container>
                                        <label>From time</label>
                                        <input ng-model="user.fromTime" type="time" md-maxlength="4" size="4">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>To time</label>
                                        <input ng-model="user.TOTime" type="time" md-maxlength="4" width="4" size="4">
                                    </md-input-container>
                                    <md-button class="md-fab md-mini md-primary" aria-label="Use Android">+</md-button>
                                </div>
                            </div>
                            <div layout-align="space-between center" layout="row">
                                <div>
                                    <md-button class="md-primary md-raised md-hue-2">week ends</md-button>
                                    <span> <md-checkbox ng-model="data.sut" aria-label="SUT">SUT</md-checkbox></span>
                                    <span> <md-checkbox ng-model="data.sun" aria-label="SUN">SUN</md-checkbox></span>
                                </div>
                                 <div>
                                    <md-input-container>
                                        <label>From time</label>
                                        <input ng-model="user.fromTime" type="time" md-maxlength="4" size="4">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>To time</label>
                                        <input ng-model="user.TOTime" type="time" md-maxlength="4" width="4" size="4">
                                    </md-input-container>
                                     <md-button class="md-fab md-mini md-primary" aria-label="Use Android">+</md-button>
                                </div>
                            </div>
                        </div>
        </div>
        </md-card-content>
        <!--  <md-card-actions layout="row" layout-align="end center" >
                            <md-button>CLEAR</md-button>
                            <md-button class="md-primary md-raised">SEARCH</md-button>
                        </md-card-actions> -->
        </md-card>
        <md-card flex="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Set Calender</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Avalible </p>
                <div tiny-calendar today="Today" events="events"></div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>CLEAR</md-button>
                <md-button class="md-primary md-raised">SEARCH</md-button>
            </md-card-actions>
        </md-card>
        </md-card>
</div>
</md-content>
</div>
